
html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
  Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 62.5%;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #FBF3ED;
  color: #D886A3;
  font-size: 1.6rem;
}

p {
  font-size: 2rem;
}

a:link {
  color: #D886A3;
}
a:visited {
  color: #D886A3;
}

.button {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  padding: 10px 30px;
  margin: 10px;
  border-radius: 50px;
}

.button--pink {
  border: 1px solid #D886A3;
  color: #D886A3;
}

.button--pink:hover {
  color: #FBF3ED;
  background-color: #D886A3;
}

.button--grey {
  border: 1px solid #35495e;
  color: #35495e;
}

.button--grey:hover {
  color: #FBF3ED;
  background-color: #35495e;
}